<div class="container forms">
  <div class="row" id="signupForms">
    <div class="col">
      <form id="login-form">
        <h1> <strong>Sign In</strong> </h1>
        <div class="form-group">
          <label for="email-login">E-mail Address</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password-login">Password</label>
          <input type="password" class="form-control" id="password-login" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="check-login">
          <label class="form-check-label" for="check-login">Keep Me Logged In</label>
        </div>
        <button type="submit" class="btn btn-primary" id="signinButton">Log In</button>
      </form>
    </div>
    <div class="col">
      <form id="signup-form">
        <h1> <strong>Sign Up</strong> </h1>
        <div class="form-group">
          <label for="email-signup">E-mail Address</label>
          <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="name-signup">Username</label>
          <input type="text" class="form-control" id="name-signup" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password-signup">Password</label>
          <input type="password" class="form-control" id="password-signup" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="check-signup">
          <label class="form-check-label" for="check-signup">Keep Me Signed In</label>
        </div>
        <button type="submit" class="btn btn-primary" id="signupButton">Sign Up</button>
      </form>
    </div>
  </div>
  <script src="/js/login.js"></script>
</div>

{{!-- need auth --}}