<div class="signinContainer">
  <div class="firstContainer ">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form id="login-form" action="" class="box">
          <h1 class="signinTitle">Sign In</h1>
          <div class="field">
            <p for="" class="label">Email</p>
            <div class="control">
              <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" id="email-login" required>
            </div>
          </div>
          <div class="field">
            <p for="" class="label">Password</p>
            <div class="control">
              <input type="password" placeholder="*******" class="input" id="password-login" required>
            </div>
          </div>
              <a id="noAccountBtn">Don't have an account? Sign up here.</a>
          <div class="field">
            <button type="submit" class="btn btn-primary button is-success" id="signinButton">
              Sign In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="secondContainer hidden">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form id="signup-form" action="" class="box">
          <h1 class="signinTitle">Sign Up</h1>
          <div class="field">
            <p for="" class="label">Email</p>
            <div class="control">
              <input type="email" placeholder="e.g. bobsmith@gmail.com" id="email-signup" class="input" required>
            </div>
          </div>
          <div class="field">
            <p for="" class="label">Username</p>
            <div class="control">
              <input type="text" placeholder="bobsmith" id="name-signup" class="input" required>
            </div>
          </div>
          <div class="field">
            <p for="" class="label">Password</p>
            <p id="special">Must include a number and special character</p>
            <div class="control">
              <input type="password" placeholder="*******" id="password-signup" class="input" required>
            </div>
          </div>
            <a class="hasAccountBtn">Already have an account? Sign in here.</a>
          <div class="field">
            <button type="submit" id="signupButton" class="button is-success">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="/js/login.js"></script>
</div> 