<div class="container forms">
  <div class="row" id="signupForms">
    <div class="col">
      <form id="signinForm">
        <h1> <strong>Sign IN</strong> </h1>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail Address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep Me Logged In</label>
        </div>
        <button id="signinButton" type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
    <div class="col">
      <form id="signupForm">
        <h1> <strong>Sign UP</strong> </h1>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail Address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Username</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep Me Signed In</label>
        </div>
        <button id="signupButton" type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>

{{!-- need auth --}}