
#headerTitle {
    color: rgb(75, 103, 186);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    /* position: absolute; */
    /* left: 50%; */
    margin-left: 20px;
    display: block;
}

#navbarNav {
    /* justify-content: flex-end;
    margin-right: 30px; */
    /* display: block; */
}

.nav-item {
    /* display: block; */
    margin-left: 30px;
}

.navbar {
    background-color: rgb(217, 217, 217) !important;
    /* position: relative; */
    height: 100px;
    display: block;
    /* margin-left: 20px; */
}

.nav-link {
    font-weight: bold;
}

#signupForms {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    margin-left: 150px;
    padding: 10px; 
    line-height: 30px;
}

#signinForm {
    border: solid rgb(152, 61, 152);
    border-radius: 20px;
    box-sizing: border-box;
    width: 400px;
    height: 270px;
    padding: 20px; 
}

#signupForm {
    border: solid rgb(152, 61, 152);
    border-radius: 20px;
    box-sizing: border-box;
    width: 400px;
    height: 340px;
    padding: 20px; 
}

#signinButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
}

#signupButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
}

#createNewPostBtn {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
    margin-top: 30px;
    text-align: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* why isn't this working? */
}

#commentButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
    margin-left: 60px;
}

#submitButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
    margin-left: 60px;
}

#deleteButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    margin-left: 5px;
    font-weight: bold;
}

#updateButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    margin-left: 5px;
    font-weight: bold;
}

#cancelButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
    /* margin-left: 50px; */
}

#upload_widget {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    margin-left: 95px;
    font-weight: bold;
}

.card {
    margin-top: 50px;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
}

#posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media {
    width: 1000px;
}

.createPostTitle {
    text-align: center;
}

#createPost {
    display: flex;
    flex-direction: column;
    align-items: center;  
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.file-label {
    color: black;
    margin: 10px; 
}

.line {
    border-bottom: 2px solid #888;
  }

.comments {
    margin-bottom: 5px;
}

.comment-text {
    margin-top: 3px;
}

.label {
    margin-left: 125px;
}

.delete {
    display: none;
}
  
.comment-text:hover > .delete {
    display: inline;
}

/* .hidden {
    display: none !important;
} */
/* this isnt working */