* {
    font-family: 'DM Sans', sans-serif;
}

#headerTitle {
    color: rgb(75, 103, 186);
    font-size: 40px;
    /* margin-left: 20px; */
    /* display: block; */
}

.nav-item {
    display: flex;
    justify-content: center;
    /* align-items: center;
    margin-left: 50px;
    margin-top: -15px; */
    font-size: 18px;
}

.form-switch {
    /* display: flex;
    justify-content: flex-end; */
    float: right;
}

.navbar {
    background-color: rgb(217, 217, 217) !important;
    height: 105px;
    display: block;
    font-weight: 900;
}

.nav-link {
    font-weight: bold;
}

#signupForms {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    margin-left: 150px;
    padding: 10px; 
    line-height: 30px;
}

#signinButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
}

#signupButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
}

#createNewPostBtn {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
    margin-top: 30px;
    text-align: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#commentButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;

}

#submitButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
    margin-left: 60px;
}

#deleteButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    margin-left: 5px;
    font-weight: bold;
}

#updateButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    margin-left: 5px;
    font-weight: bold;
}

#cancelButton {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    font-weight: bold;
}

#upload_widget {
    color: rgb(75, 103, 186);
    background-color: rgb(217, 217, 217); 
    border: rgb(217, 217, 217);
    margin-left: 95px;
    font-weight: bold;
}

.card {
    margin-top: 65px;
    background-color: white;
}

#posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media {
    width: 1000px;
}

.createPostTitle {
    text-align: center;
}

#createPost {
    display: flex;
    flex-direction: column;
    align-items: center;  
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.file-label {
    color: black;
    margin: 10px; 
}

.line {
    border-bottom: 2px solid #888;
  }

.comments {
    margin-bottom: 5px;
}

.comment-text {
    margin-top: 3px;
}

.label {
    margin-left: 125px;
}

.delete {
    display: none;
}
  
.comment-text:hover > .delete {
    display: inline;
}

.hidden {
    display: none !important;
}

#like-button {
    display: inline-block;
    position: absolute;
    right: 30px;
}

#like-counter {
    display: inline-block;
    font-size: 15px;
    position: absolute;
    right: 38px;
    padding-top: 3px;
    color: white;
    font-weight: bold;
}

.navbar-toggler-icon {
    width: 20px;
    height: 25px;
}

.navbar-toggler {
    margin-left: 15px;
}

.navbar-collapse {
    margin-top: 10px;
    margin-left: -15px;
}

.createPostTitle {
    margin-top: 20px;
    font-size: 30px;
}

body {
    margin-bottom: 15px;
}

/* #signinForm {
    border: solid rgb(152, 61, 152);
    border-radius: 20px;
    box-sizing: border-box;
    width: 400px;
    height: 270px;
    padding: 20px; 
}

#signupForm {
    border: solid rgb(152, 61, 152);
    border-radius: 20px;
    box-sizing: border-box;
    width: 400px;
    height: 340px;
    padding: 20px; 
} */

/* #navbarNav { 
    justify-content: flex-end;
    margin-right: 30px;
    display: block; 
    font-weight: 900; 
}  */